body {
  background: rgb(213, 234, 248);
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -1px -1px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Landing view */
.add-form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  border-radius: 1em;
  background-color: rgb(255, 255, 255);
  padding: 2em;
  min-width: 60vw;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
  overflow: visible;
  /* Center in middle of screen */
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.selectAvatar {
  color: #000000;
}

/* Logo in landing view */
.logo {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 10%;
  position: absolute;
  transform: translate(-50%, -10%);
}

.player {
  position: relative;
  background: #f3f3f3;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px 5px;
  cursor: pointer;
  height: 100px;
  margin: 0px;
  max-width: 100%;
  /* min-width: 205px;
  max-width: 250px; */
}

/* Display username and score */
.user-data {
  color: rgb(2, 82, 134);
  font-size: larger;
  text-align: left;
}

#playerListColumn {
  background: #bdbbbb;
}

.scrollable {
  overflow-y: auto;
  max-height: 70vh;
  padding: 0%;
  margin: 0%;
  /* max-width: 94%; */
}

.table {
  /* overflow-wrap: break-word; */
  word-wrap: break-word;
  word-break: break-all;
  margin: 0px;
  font-size: smaller;
}

/* Canvas style */
canvas {
  width: 99%;
  /* height: 70%; */
  cursor: crosshair;
  background: white;
  outline: solid 5px rgba(0, 0, 0, 0.5);
}

.input-group {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

/* Game view frame */
.game-view {
  border-bottom: solid 1px #cccccc;
  border-radius: 1em;
  background-color: white;
  min-width: 70vw;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
  overflow: hidden;
}

/* Header component row in Gameview*/
.header {
  align-items: center;
  justify-content: center;
  /* background-color: rgb(246, 247, 199); */
  background: #f3f3f3;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

/* Loading */
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  /* height: 100vh; */
}

.spinner-border {
  width: 5rem;
  height: 5rem;
  font-size: 4em;
}

/* .gameClock {
  background: #fff;
  width: 55px;
  height: 55px;
  padding: 12px 0 0 0px;
  text-align: center;
  top: -12px;
  left: 220px;
  position: absolute;
  font-size: 22px;
  border-radius: 50%;
  border: 3px solid #000;
  color: #000;
  font-family: Roboto;
  font-weight: 700;
  vertical-align: middle;
  pointer-events: none;
  user-select: none;
  box-shadow: 3px 3px 6px rgba(33, 33, 33, 0.2);
} */

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.countdown-item {
  color: black;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.25rem;
  /* margin: 10px; */
  padding-top: 10px;
  position: relative;
  width: 100px;
  height: 100px;
}

.countdown-item span {
  font-size: 1rem;
}

.countdown-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

/* Display score at end of turn/round */
.score-modal {
  overflow-y: auto;
  max-height: 50vh;
  padding: 0%;
  margin: 0%;
  min-width: 70%;
}

.player-score {
  background: #f3f3f3;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 96%;
  align-content: center;
  align-items: center;
}

.score-earned {
  color: rgb(6, 158, 39);
  font-weight: bold;
}

/* Makes sure leave game modal is on top of all other game modals */
/* 3rd Answer - https://stackoverflow.com/questions/19528173/bootstrap-open-another-modal-in-modal */
#leaveGameModal {
  z-index: 1062 !important;
}

.gameWord-hint {
  letter-spacing: 1rem;
  background-color: rgb(246, 247, 199);
  padding: 0.5rem;
  border: #000000;
}

.gameWord-answer {
  background-color: rgb(246, 247, 199);
  padding: 0.5rem;
  border: #000000;
}

/* Chat */
#chatCard {
  /* max height for entire chat component */
  max-height: 70vh;
}

.messages {
  overflow-y: scroll;
  height: 51vh;
  max-height: 51vh;
}
